@charset "UTF-8";
html {
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0; }

h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

img {
  width: 100%;
  vertical-align: bottom; }

ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    transition: .3s;
    opacity: 0.6; }

section {
  width: 100%;
  margin-bottom: 120px; }

.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: .3s;
  z-index: 2; }
  .header.float-active {
    transition: .3s;
    background: rgba(0, 0, 0, 0.9); }
    .header.float-active .nav-menu .menu .menu-link {
      color: #fff; }
  @media screen and (max-width: 414px) {
    .header {
      height: 60px; } }
  .header .title {
    margin-left: 15px;
    background: red;
    color: #fff;
    padding: 0 8px;
    height: 60px; }
    @media screen and (max-width: 414px) {
      .header .title {
        margin-left: 0; } }

@media screen and (max-width: 414px) {
  .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.menu {
  display: flex;
  align-items: center;
  font-size: 16px; }
  .menu-item {
    margin-right: 20px; }
  .menu-link {
    -webkit-font-smoothing: initial; }
  @media screen and (max-width: 414px) {
    .menu {
      display: block;
      font-size: 30px; }
      .menu-item {
        margin-right: initial; }
      .menu-link {
        -webkit-font-smoothing: initial;
        display: block;
        padding: 15px;
        text-align: center; } }

.menu-trigger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  margin-right: 10px; }
  @media screen and (max-width: 414px) {
    .menu-trigger {
      display: inline-block; } }
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000; }
    .menu-trigger span:nth-of-type(1) {
      top: 0; }
    .menu-trigger span:nth-of-type(2) {
      top: 14px; }
    .menu-trigger span:nth-of-type(3) {
      bottom: 0; }
  .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0; }
  .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  @media screen and (max-width: 414px) {
    .container {
      width: 100%; } }
  .container-fluid {
    width: 100%; }
  .container-title {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px; }
    @media screen and (max-width: 414px) {
      .container-title {
        width: 70%;
        margin-left: auto;
        margin-right: auto; } }
  @media screen and (max-width: 414px) {
    .container-body {
      padding-left: 15px;
      padding-right: 15px; } }

.top {
  position: relative;
  height: 500px; }
  .top img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    /* 歪みを中央でトリミング */ }
  .top .container-title {
    position: absolute;
    top: 30%;
    left: 20%;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px; }
    @media screen and (max-width: 414px) {
      .top .container-title {
        left: 15%;
        padding-left: 0;
        padding-right: 0; } }

.pr .container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center; }
  @media screen and (max-width: 414px) {
    .pr .container {
      margin-left: -16px; } }
  .pr .container figure {
    width: 50%; }

.pr .content {
  width: 48%; }

.history {
  margin: 0 auto; }
  .history .container table {
    background: #f6f6f6;
    border: 1px solid #eee;
    width: 40%;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: left;
    font-size: 14px; }
    @media screen and (max-width: 414px) {
      .history .container table {
        width: 60%; } }
    .history .container table .t_top {
      text-align: center; }
    .history .container table thead tr th {
      color: #333;
      padding-bottom: 15px; }
    .history .container table tbody th {
      color: #8e8271; }
  .history .container th, .history .container td {
    padding: 5px 0;
    border-bottom: 1px dotted #ccc; }

.tech {
  width: 100%;
  padding-top: 40px;
  position: relative; }
  .tech::before {
    content: '';
    background: gray;
    position: absolute;
    width: 100%;
    height: 230px;
    z-index: -1; }
    @media screen and (max-width: 414px) {
      .tech::before {
        height: 840px; } }
  .tech .container {
    padding-top: 0; }
    @media screen and (max-width: 414px) {
      .tech .container {
        height: 900px; } }
  .tech ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto; }
    @media screen and (max-width: 414px) {
      .tech ul {
        display: block; } }
    .tech ul li {
      width: 400px; }
      @media screen and (max-width: 414px) {
        .tech ul li {
          width: 100%; } }
      .tech ul li h3 {
        text-align: center; }
        @media screen and (max-width: 414px) {
          .tech ul li h3 {
            margin-bottom: 30px; } }
      .tech ul li figure {
        margin: 0; }
        .tech ul li figure img {
          transition: all 1s; }
          .tech ul li figure img:hover {
            transition: all 1s;
            box-shadow: 3px 10px 20px #c8c8c8;
            transform: translateY(-10px); }

.development p {
  text-align: center; }

.development .container {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: center; }
  .development .container figure {
    width: 60%; }

.development .content {
  width: 48%; }

.contact form {
  width: 50%;
  margin: 0 auto; }
  @media screen and (max-width: 414px) {
    .contact form {
      width: 80%; } }
  .contact form input, .contact form textarea {
    font-size: 18px;
    margin-bottom: 15px; }
  .contact form .button {
    display: flex;
    justify-content: space-between; }
    @media screen and (max-width: 414px) {
      .contact form .button {
        display: block; } }
  .contact form input[type="text"] {
    width: 100%;
    height: 60px;
    border: none;
    background: #f6f5f4;
    padding: 10px;
    box-sizing: border-box; }
  .contact form textarea {
    width: 100%;
    height: 400px;
    border: none;
    background: #f6f5f4;
    padding: 10px;
    box-sizing: border-box; }
  .contact form input[type="submit"] {
    width: 200px;
    background: #333;
    border: none;
    padding: 15px 30px;
    color: white;
    float: left;
    border-radius: 3px; }
    @media screen and (max-width: 414px) {
      .contact form input[type="submit"] {
        width: 100%; } }

.footer {
  background: #000;
  padding: 10px; }
  .footer .copylight {
    color: white;
    font-size: 0.75rem;
    text-align: center; }
