$site-width: 980px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;



$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;


@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}


html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,li,dl,dt,dd {
  margin:0;
  padding:0;
  list-style: none;
}

a { 
  text-decoration: none;
  color: #000;
  &:hover { 
    transition: .3s;
    opacity: 0.6;
  }
}


section {
  width: 100%;
  margin-bottom: 120px;
}



.header{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  transition: .3s;
  z-index: 2;
  &.float-active {
    transition: .3s;
    background: rgba(0, 0, 0, 0.9);
    & .nav-menu .menu .menu-link{
      color: #fff;
    }
  }
  @include mq() {
    height: 60px;
  }
  .title{
    margin-left: 15px;
    background: red;
    color: #fff;
    padding: 0 8px;
    height: 60px;
    @include mq(){
      margin-left: 0;
    }
  }
}

// .nav-menu .menu{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   & .menu-item{
//     margin-right: 50px;
//   }
// }

@include mq() { // TODO:リファクタ必要（PCで修正が入る際も考えてincludeはクラスの中に書く）
  .nav-menu {
    display: block;
    position: absolute;
    top: 0;
    right: -100%;
    background: rgba(255, 255, 255, .85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  font-size: $font-size_default;
  &-item {
    margin-right: $space_xl;
  }
  &-link {
    -webkit-font-smoothing: initial;
  }
  @include mq() {
    display: block;
    font-size: $font-size_xxl;
    &-item {
      margin-right: initial;
    }
    &-link {
      -webkit-font-smoothing: initial;
      display: block;
      padding: $space_l;
      text-align: center;
    }
  }
}

// https://www.nxworld.net/tips/12-css-hamburger-menu-active-effect.html
.menu-trigger {
  display: none;
  @include mq() {
    display: inline-block;
  }
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3;
  margin-right: 10px;
  span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #000;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
  &.active span {
    &:nth-of-type(1) {
      transform: translateY(12px) rotate(-45deg);
    }
    &:nth-of-type(2) {
      opacity: 0;
    }
    &:nth-of-type(3) {
      transform: translateY(-15px) rotate(45deg);
    }
  }
}

.container {
  width: 100%;
  @include mq() {
    width: 100%;
  }
  margin-left: auto;
  margin-right: auto;
  // padding-top: 80px;
  // padding-bottom: 120px;
  &-fluid {
    width: 100%;
  }
  &-title {
    text-align: center;
    font-size: $font-size_l;
    margin-bottom: $space_xl;
    @include mq() {
      width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-body {
    @include mq() {
      padding-left: $space_l;
      padding-right: $space_l;
    }
  }
  // &-ornament {
  //   .container-title {
  //     span { // TODO: リファクタ必要（span以外を使うことも考えてclass名で指定すること）
  //       display: inline-block;
  //       background: #fff;
  //       padding: 0 10px;
  //       position: relative;
  //       z-index: 1;
  //     }
  //     &:before, &:after {
  //       border-top: 1px solid #2e1f1a;
  //       content: "";
  //       display: block;
  //       position: relative;
  //       z-index: 0;
  //     }
  //     &:before {
  //       top: 28px;
  //     }
  //     &:after {
  //       top: -28px;
  //     }
  //     &-lightGray {
  //       span {
  //         background: #f8f7fc;
  //       }
  //     }
  //   }
  // }
}

.top{
  position: relative;
  height: 500px;
  & img{
    width: 100%;
    height: 500px;
    object-fit: cover; /* 歪みを中央でトリミング */
  }
  & .container-title{
    position: absolute;
    top: 30%;
    left: 20%;
    background: rgba(255, 255, 255, 0.6);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 50px;
    @include mq() {
      left: 15%;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.pr{
  // & .container-title{
  //   margin-bottom: 50px;
  //   text-align: center;
  // }
  & .container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    @include mq() {
      margin-left: -16px;
    }
    & figure{
      width: 50%;
    }
  }
  & .content{
    width: 48%;
  }
}

.history{
  margin: 0 auto;
  & .container{
    // & .container-title{
    //   margin-bottom: 60px;
    //   text-align: center;
    // }
    & table{
      background: rgb(246,246,246);
      border: 1px solid #eee;
      width: 40%;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      padding: 10px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 80px;
      text-align: left;
      font-size: 14px;
      @include mq() {
        width: 60%;
      }
      & .t_top{
        text-align: center;
      }
      & thead tr th{
        color: #333;
        padding-bottom: 15px;
      }
      & tbody th{
        color: rgb(142,130,113);
      }
    }
    & th,td{
      padding: 5px 0;
      border-bottom: 1px dotted #ccc;
    }
  }
}

.tech{
  width: 100%;
  padding-top: 40px;
  position: relative;
  &::before{
    content: '';
    background: gray;
    position: absolute;
    width: 100%;
    height: 230px;
    z-index: -1;
    @include mq() {
      height: 840px;
    }
  }
  & .container{
    padding-top: 0;
    @include mq() {
      height: 900px;
    }
  }
  // & .container-title{
  //   margin-bottom: 60px;
  //   text-align: center;
  // }
  & ul{
    display: flex;
    justify-content: space-between;
    // width: 1400px;
    width: 100%;
    margin: 0 auto;
    @include mq() {
      display: block;
      // width: 100%;
    }
    & li{
      width: 400px;
      @include mq(){
        width: 100%;
      }
      & h3{
        text-align: center;
        @include mq() {
          margin-bottom: 30px;
        }
      }
      & figure{
        margin: 0;
        & img{
          transition: all 1s;
          &:hover{
            transition: all 1s;
            box-shadow: 3px 10px 20px #c8c8c8;
            transform: translateY(-10px);
          }
        }
        // @include mq() {
        //   width: 100%;
        // }
      }
    }
  }
}

.development{
  // & .container-title{
  //   margin-bottom: 50px;
  //   text-align: center;
  // }
  & p{
    text-align: center;
  }
  & .container{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 120px;
    align-items: center;
    & figure{
      width: 60%;
    }
  }
  & .content{
    width: 48%;
  }
}

.contact{
  // & .container-title{
  //   margin-bottom: 40px;
  //   text-align: center;
  // }
  & form{
    width: 50%;
    margin: 0 auto;
    @include mq() {
      width: 80%;
    }
    & input,textarea{
      font-size: 18px;
      margin-bottom: 15px;
    }
    & .button{
      display: flex;
      justify-content: space-between;
      @include mq() {
        display: block;
      }
    }
    & input[type="text"]{
      width: 100%;
      height: 60px;
      border: none;
      background: #f6f5f4;
      padding: 10px;
      box-sizing: border-box;
    }
    & textarea{
      width: 100%;
      height: 400px;
      border: none;
      background: #f6f5f4;
      padding: 10px;
      box-sizing: border-box;
    }
    & input[type="submit"]{
      width: 200px;
      background: #333;
      border: none;
      padding: 15px 30px;
      color: white;
      float: left;
      border-radius: 3px;
      @include mq() {
        width: 100%;
      }
    }
  }
}

.footer{
  background: #000;
  padding: 10px;
  // @include mq(){
  //   margin-top: 250px;
  // }
  & .copylight{
    color: white;
    font-size: 0.75rem;
    text-align: center;
  }
}
